.about {
  background-color: $secondaryBackgroundColor;
  padding-top: 2em;
  margin-bottom: 3em;
  .order-video {
    background-color: $primaryColor;
    text-align: center;
    padding-top: 0.8em;
    padding-bottom: .4em;
    margin-top: 1em;
    h5 {
      font-size: 18px;
      a {
        color: white;
      }
    }
  }
}
