.navbar {
  background-color: transparent;
  position: fixed;
  width: 100%;
  .container {
    .navbar-nav {
      list-style-type: none;
    }
  }
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'rift-soft', sans-serif;
  color: $secondaryTextColor;
  font-size: 18px;
}
