.navbar {
  background-color: $primaryColor;
  position: fixed;
  width: 100%;
  z-index: 100;
  border-radius: 0 !important;
  .container {
    .navbar-nav {
      list-style-type: none;
    }
  }
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'rift-soft', sans-serif;
  color: $secondaryTextColor;
  font-size: 18px;
  border-bottom: 1px solid $primaryColor;
  &:hover {
    color: $secondaryTextColor;
    border-bottom: 1px solid $secondaryTextColor;
  }
}

ul.navbar-nav.ml-auto {
  width: 20%;
  float: right;
}

.forms {
  width: 50%;
  float: right;
  margin: 2em;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  button {
    background-color: $primaryColor;
    border: none;
    font-family: 'rift-soft', sans-serif;
    color: $secondaryTextColor;
    font-size: 19px;
    width: 100%;
  }
  .form-control {
    font-size: 14px;
    &:focus {
      border-color: $primaryColor;
    }
  }
}
