.module {
  margin-top: 3em;
  .title {
    width: 80%;
    margin-bottom: 3em;
  }
}

.steps {
  text-align: center;
  margin-bottom: 3em;
  .col-md-4 {
    padding-right: .3rem !important;
    padding-left: .3rem !important;
    .step {
      background-color: $secondaryBackgroundColor;
      padding: 1em;
      .hover {
        &:hover {
          background-color: $primaryBackgroundColor;
          cursor: pointer;
        }
      }
      .stepIcons {
        margin-bottom: .6em;
        height: 50px;
      }
    }
  }
}
